examples/DAC Flow Sample.json
[
    {
        "id": "6515c204e09ef9f5",
        "type": "dac",
        "z": "aa7eb918109cfafe",
        "name": "",
        "transport": "Local",
        "tcpAddress": "",
        "tcpPort": "5555",
        "voltage": "1",
        "channel": "1",
        "gain": true,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "86807b61ae6e966c"
            ]
        ]
    },
    {
        "id": "67b9bf678d861275",
        "type": "inject",
        "z": "aa7eb918109cfafe",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "6515c204e09ef9f5"
            ]
        ]
    },
    {
        "id": "86807b61ae6e966c",
        "type": "debug",
        "z": "aa7eb918109cfafe",
        "name": "debug dac output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "53f55a1438e58030",
        "type": "inject",
        "z": "aa7eb918109cfafe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "gain",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "channel",
                "v": "7",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "6515c204e09ef9f5"
            ]
        ]
    }
]